<!DOCTYPE html>
<html>
<head>
  <title>Szczegóły</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h1><%= book.title %></h1>

  <p><strong>Autor:</strong> <%= book.author %></p>
  <p><strong>Status:</strong> <%= book.status %></p>
  <p><strong>Opis:</strong><br><%= book.description %></p>

  <a href="/"> Powrót</a>
</div>

</body>
</html>
